@import "@new-ui/foundations";

*,
*::before,
*::after {
    box-sizing: border-box
}

html,
body,
div,
span,
applet,
button,
input,
select,
textarea,
object,
iframe h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    background: transparent;
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    min-width: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
img,
svg {
    display: block
}

ol,
ul,
menu {
    list-style: none
}

:root{--accent: #F27149; --bg: #0F000E}

html {
    min-height: -webkit-fill-available;
    scroll-behavior: smooth
}

body {
    background: var(--bg);
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    font-family: var(--system-ui);
    font-feature-settings: 'liga', 'dlig';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    padding-top: 5.6%;
}

@supports(-webkit-touch-callout: none) {
    body {
        min-height: -webkit-fill-available
    }
}

header,
main {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: min(100%, 32em);
}

header {
    height: var(--spacing-18, 8em);
    background: var(--accent);
    border-radius: var(--spacing-02);
}

header h1 {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center
}

header h1 a {
    height: var(--spacing-16, 6em);
    max-width: 5.96em
}

header h1 a span {
    display: none
}

header h1 a img {
    height: 100%;
    max-height: 100%;
    width: auto
}

main {
    flex: 1;
    margin-bottom: var(--spacing-15, 5em);
    padding: var(--spacing-09);
}

main>*+* {
    margin-top: var(--spacing-08, 1.5em)
}

ol,
ul {
    display: flex;
    flex-direction: column
}

ol li,
ul li {
    position: relative
}

ol li:before,
ul li:before {
    font-feature-settings: 'case', 'tnum';
    left: 0;
    position: absolute;
    top: 0
}

ol {
    counter-reset: counter;
    gap: var(--spacing-02)
}

ol li {
    counter-increment: counter;
    padding-left: var(--spacing-09)
}

ol li:before {
    content: counter(counter) '.';
    text-align: right;
    width: var(--spacing-08)
}

ul {
    gap: var(--spacing-02)
}

ul li {
    padding-left: var(--spacing-08)
}

ul li:before {
    content: '—';
    opacity: 0.24
}

figure {
    margin-top: var(--spacing-08);
    margin-left: calc(var(--spacing-04) * -1)
}

dl {
    font-feature-settings: 'case';
    font-size: var(--desktop-body);
    line-height: var(--lh-desktop-body);
    margin-top: var(--spacing-04)
}

dl dt {
    font-weight: 600
}

dl dd {
    color: var(--text-secondary);
}

a {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 0.06em;
    text-underline-offset: 0.1em;
    color: var(--link);
}

a:hover {
    color: var(--link-hover);
}

a:visited {
    color: var(--link-visited);
}

b,
strong {
    font-weight: 600;
    letter-spacing: normal;
}

i,
em {
    font-style: italic;
}

pre.code {
    padding: var(--spacing-04);
    font-family: var(--monospace-code);
    font-size: var(--desktop-code);
    line-height: var(--lh-desktop-code);
    overflow-x:scroll;
    margin-bottom:8px;
    border: 1px solid var(--border-inked);
    border-radius: var(--spacing-02);
}

span.cpill {
    padding: var(--spacing-02);
    font-family: var(--monospace-code);
    font-size: var(--desktop-code);
    line-height: var(--lh-desktop-code);
    border: 1px solid var(--border-inked);
    border-radius: var(--spacing-02);
}

@media (max-width: 50rem) {
    body {padding-top: var(--spacing-00);}
    header,
    main {
        padding-left: var(--spacing-09, 2em);
        padding-right: var(--spacing-09, 2em);
    }
    main form aside fieldset input {
      width: 100%;
    }
    header {
        border-radius: var(--spacing-00);
    }
}
